@model IEnumerable<_02u19106832_HW03.Models.FileModel>
@{
    ViewBag.Title = "Index";
}

<h2>Videos</h2>
<div class="container">
    <div class="row">
        @if (Model != null)
        {
            foreach (var video in Model)
            {

                <div class="col-lg-3">
                    <a href="~/App_Data/Videos/" data-caption="@video.FileName" data-type="video">
                        <video width="300" height="250" controls>
                            <source src="~/App_Data/Videos/" type="video/mp4">

                        </video>
                    </a>
                    <p>@video.FileName</p>
                    <button class="btn btn-danger"> @Html.ActionLink("Download", "Download", new { DownloadVid = video.FileName })</button>
                    <button class="btn btn-success"> @Html.ActionLink("Delete", "Delete", new { DeleteVid = video.FileName }, new { onclick = "return confirm('Are you sure you wish to delete this?');" })</button>
                </div>

            }
        }


    </div>
</div>

