@model IEnumerable<_02u19106832_HW03.Models.FileModel>
@{
    ViewBag.Title = "Index";
}

<h2>About Myself</h2>
<div class="container">

    <div class="row">
        <div class=col-lg-9>
            <h2>Biography</h2>
            <p style="font-family:Arial" size:12px>
              My name is Prashant Bhoola, I am 22 years old. I was born in the year 2000 and my Date of of birth is 17 April 2000. I grew up in Centurion and attended the school Crawford Primary and eventually moved to Sutherland High School. I am now studying Bcom Informatics at the University of Pretoria and in my second year of studies. 
            </p>

        </div>
        <div class=col-lg-3>
            <h2>Prashant Bhoola</h2>
            <img src="./02u19106832_HW03/Image/DSC_0065.JPG" />
          

        </div>
    </div>

</div>

